/* You can add global styles to this file, and also import other style files */
body{
  box-sizing: border-box;
  padding: 20px;
}

button.primary {
  height: 40px;
  min-width: 100px;
  border: 2px solid #aa6e98;
  font-size: 20px;
}

button.primary:disabled {
  height: 40px;
  min-width: 100px;
  border: 2px solid #aa6e98;
  font-size: 20px;
  color: dark !important;
  background-color: dark !important;
  pointer-events: none;
}

d-block, input{
  display: block;
  margin: 0.5rem;
}

form{
  border: 2px solid blue;
  padding: 0.25rem;
  width: 30%;
}

.error-msg{
  color: red;
}